* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
  font-family: "Heebo", sans-serif;
}

body {
  background-color: #f7f7f7;
}

header {
  background-color: #fff;
  height: 5rem;
}

header #navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  height: 5rem;
}

header #navbar .nav-brand {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}

header #navbar .nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

header #navbar .nav-list .nav-item a {
  text-decoration: none;
  color: #333;
  font-size: 1.25rem;
  font-weight: 500;
}

header #navbar .nav-list .nav-item a:hover {
  color: #777;
  transition: color 0.3s ease;
}

header #navbar .hamburger-menu {
  display: none;
}

@media (max-width: 740px) {
  header #navbar .hamburger-menu {
    display: block;
  }
  header #navbar .nav-list {
    display: none;
  }
}

/* Banner Styles */
main {
  margin-top: 6rem;
}

main #banner {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}

main #banner .banner-content .banner-content-title {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 3.75rem;
  margin-bottom: 2.5rem;
  max-width: 500px;
}

main #banner .banner-content .banner-content-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  max-width: 500px;
  margin-bottom: 2.375rem;
}

main #banner .banner-content .banner-content-btn {
  background-color: #00a8cc;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 2px;
  padding: 8px 24px;
  border: none;
}

main #banner .banner-image {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

@media (max-width: 920px) {
  main #banner {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }

  main #banner .banner-content {
    text-align: center;
  }
}

/* Post Card Styles */
section#posts {
  margin-top: 4rem;
  background-color: #edf7fa;
}
#posts .posts-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

#posts .posts-content .posts-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.75rem 0;
}

#posts .posts-content .posts-content-header .section-title {
  font-size: 1.75rem;
  font-weight: 500;
}

#posts .posts-content .posts-content-header .view-all-link {
  text-decoration: none;
  color: #00a8cc;
}

#posts .posts-content .posts-cards {
  display: flex;
  margin-bottom: 2rem;
  gap: 1.75rem;
}

#posts .posts-content .posts-cards .post-card {
  background-color: #fff;
  border-radius: 4px;
  padding: 1.75rem;
}

#posts .posts-content .posts-cards .post-card h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 2.3125rem;
}

#posts .posts-content .posts-cards .post-card span {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  display: block;
}

@media (max-width: 740px) {
  #posts .posts-content .posts-cards {
    flex-direction: column;
  }
}
